<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		<%- include('./partials/nav.ejs') %>

		<div class="about content">
			<h2>About us</h2>
			<div>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, corrupti
				distinctio. Porro eos velit exercitationem reiciendis, quam fugit atque
				ratione amet, expedita nisi illum, incidunt consequuntur nemo corrupti
				ab temporibus.
			</div>
			<div>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quibusdam
				est dolore corporis eum quis possimus totam ex magni hic? Ea animi
				incidunt maiores? Quibusdam quam consequuntur repellendus fuga dicta.
			</div>
			<div>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quibusdam
				est dolore corporis eum quis possimus totam ex magni hic? Ea animi
				incidunt maiores? Quibusdam quam consequuntur repellendus fuga dicta.
			</div>
			<div>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quibusdam
				est dolore corporis eum quis possimus totam ex magni hic? Ea animi
				incidunt maiores? Quibusdam quam consequuntur repellendus fuga dicta.
			</div>
			<div>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quibusdam
				est dolore corporis eum quis possimus totam ex magni hic? Ea animi
				incidunt maiores? Quibusdam quam consequuntur repellendus fuga dicta.
			</div>
		</div>

		<%- include('./partials/footer.ejs') %>
	</body>
</html>
